# Godot 4+ specific ignores
.godot/
/android/
*.clip
/Builds
*.zip
/Assets/Audio/Sound effects/Clicking Sounds
/Assets/Audio/Sound effects/MoreSounds
/Assets/Audio/Sound effects/RPGsounds_Kenney
/Assets/Audio/Sound effects/inventory_sound_effects
/Assets/Audio/Sound effects/footsteps
/Assets/Audio/Sound effects/Owlish Media Sound Effects
